 :root {
      --primary-color: #D97805;
      --secondary-color: #FFB300;
      --true-color: #FFF3E0;
  }

 /* Mobile first */

.contact-container {
     width: 100%;
     background-color: var(--true-color);
     /* min-height: 100vh; */
     padding: 60px 20px;    
 }
.contact-container h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
    color: #924010;
}
.contact-container p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 35px;
    color: #333  
}

.contact-container .card-contact {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.contact-container .card-contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-container .card-contact form label {
    margin-bottom: 10px;
    color: #333;
}

.contact-container .card-contact form input,
.contact-container .card-contact form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    resize: none;
}

.contact-container .card-contact form input:focus,
.contact-container .card-contact form textarea:focus{
    outline: none;
    border-color: var(--primary-color);
} 

.contact-container .card-contact form a {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
}

.card-contact form a i{
    margin-right: 5px;
    color: #fff;
}

/* Contact info */
.contact-info {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.contact-info .info-item {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
     background-color: var(--true-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.875rem;
}
.contact-info .info-item span {
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    min-width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.contact-info .info-item span i {
    font-size: 20px;
}

.contact-info .info-item h3 {
    margin-bottom: 5px;
    color: #924010;
}
.contact-info .info-item p {
    color: #333;
}

/* Responsive design  DESKTOP */
@media (min-width: 1024px){
    .contact-container {
        padding: 70px 100px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }

    .contact-container .card-contact {
        width: 70%;
    }
    
    .forme-group .form-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .form-grid .input-grid{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .input-grid.full{
        grid-column: span 2;
    }

    .contact-info {
        padding: 30px 80px;
        flex-direction: row;
    }

    .contact-info .info-item {
        width: 30%;
        margin-bottom: 0;
    }
}
